<% provide(:title, "Events") %>
<%= render 'layouts/sidebar' %>
    <div class="wrapper">
    <div class="main-panel">
      <%= render 'layouts/navbar' %>
<div class="box">
  <div class="posts">
    <br>
    <br>
    <%= link_to "Create New Event", new_event_path, class: "btn btn-info btn-sm" %>
    <%= link_to "Current Events", events_path, class: "btn btn-warning btn-sm" %>
    <br>
    <br>
    <div id='calendar'></div>
    <br>
    <br>
    <br>
  </div>
</div>

<div class="box">
  <div class="posts">
    <br>
    <div class="cen">
      <p id="notice"><%= notice %></p>
      <p>
        <b>Title:</b>
        <%= @event.title %>
      </p>

      <p>
        <b>Starts at:</b>
        <%= @event.starts_at %>
      </p>

      <p>
        <b>Ends at:</b>
        <%= @event.ends_at %>
      </p>

      <p>
        <b>All day:</b>
        <% if @event.all_day-%>
          Yes
        <% else %>
          No
        <% end %>
      </p>

      <p>
        <b>Description:</b>
        <%= @event.description %>
      </p>
      <%= link_to 'Edit', edit_event_path(@event) %> |
      <%= link_to 'Back', events_path %>
      <br>
      <br>
    </div>
  </div>
</div>
