<!--<li id="resume-<%= resume.id %>">-->
<!--  <h1> resume.name</h1>-->
<!--  <span class="content"><%= resume.name %></span>-->
<!--  <span>  |  </span>-->
<!--  <span class="content"><%= resume.p1 %></span>-->
<!--  <span>  |  </span>-->
<!--  <span class="content"><%= resume.p2 %></span>-->
<!--  <span>  |  </span>-->
<!--  <span class="content"><%= resume.p3 %></span>-->
   <!--< %= link_to 'Edit', edit_resumelist_path(resumelist), class: "btn btn-default" %>-->
    <!--< %= link_to 'Delete', @resumelist, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>-->
<!--</li>-->