<header class="navbar navbar-fixed-top navbar-inverse">
    <%= favicon_link_tag 'favicon.ico' %>
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-left">
            <%= link_to image_tag("rocket-2-01.png",alt: "rocket logo"),
            root_path %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>

            <% if logged_in? %>
              <li><%= link_to "Account Profile", user_path(current_user) %></li>
              <li><%= link_to "Log out", logout_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Log in", login_path %></li>
            <% end %>

          </ul>
        </nav>
      </div>
    </header>
