<%= render 'layouts/header' %>
<!--<style>
  body {
    background-image:url(<%=asset_path "GRocket-Icon-grey-01.png"%>);
    background-size: 50px 50px;
    background-repeat: xy;
  }
</style>
-->
<div class="center jumbotron">
<!-- <div class="floatcenter"> -->
  <!--<p>Student Interative Platform</p>-->
  <div class="info">
    <%= flash[:info]%>
  </div>
  <div class="error">
    <%= flash[:error]%>
  </div>
  <h1>Ready to Launch!</h1>
  <img src= <%=asset_path "loading.gif"%> width="25%" height="25%" >
  <br></br>
  <p>New to GRocket?</p>
  <%= link_to "Sign up Now!", '../users/new', class: "btn btn-lg btn-danger" %>
  <br></br>
</div>

<footer class="footer-distributed">

			<div class="footer-left">

				<h3>G<span>Rocket</span></h3>

				<p class="footer-links">
					<a><%= link_to "Home", root_path %></a>
					·
					<a><%= link_to "About", about_path %></a>
					·
					<a><%= link_to "Contact", contact_path %></a>
				</p>

				<p class="footer-company-name">Copyright &copy; 2015 GRocket Inc. All rights reserved</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>8888 University Dr, </span> Burnaby, BC</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+1 604 721 0285</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@company.com">chenganc@sfu.ca</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About the company</span>
					
				</p>

				<div class="footer-icons">

					<a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
					<a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a>
					<a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
					<a href="https://github.com/winiz/studysfu.git"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>