<body style="padding-top: 60px;">
<%= render 'layouts/header' %>
<div class="center jumbotron">
<!-- <div class="floatcenter"> -->
  <!--<p>Student Interative Platform</p>-->
  <div class="info">
    <%= flash[:info]%>
  </div>
  <div class="error">
    <%= flash[:error]%>
  </div>
  <h1>Ready to Launch!</h1>
  <img src= <%=asset_path "loading.gif"%> width="25%" height="25%" >
  <br></br>
  <p>New to GRocket?</p>
  <%= link_to "Sign up Now!", '../users/new', class: "btn btn-lg btn-danger" %>
  <br></br>
</div>
</body>