<!--<style>
  body {
    background-image:url(<%=asset_path "GRocket-Icon-grey-01.png"%>);
    background-size: 50px 50px;
    background-repeat: xy;
  }
</style>
-->
<div class="center jumbotron">
<!-- <div class="floatcenter"> -->
  <!--<p>Student Interative Platform</p>-->
  <div class="container">
  <div class="info">
    <%= flash[:info]%>
  </div>
  <div class="error">
    <%= flash[:error]%>
  </div>
  <h1>Ready to Launch!</h1>
  <img src= <%=asset_path "loading.gif"%> width="25%" height="25%" >
  <br></br>
  <p>New user? <%= link_to "Click here!", '../users/new' %></p>

  <%= link_to "Log in", login_path, class: "btn btn-primary btn-lg" %>
  <!--<%= link_to "New user", '../users/new', class: "btn btn-primary btn-lg" %>-->
  </div>
</div>
