<% provide(:title, @user.firstName) %>
<% provide(:title, "'s Dashboard") %>

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("button-comments").click(function(){
        $("p-reply").toggleClass('hidden');
    });
});
</script>
<script>
$(document).ready(function(){
  setTimeout(function(){
    window.location.reload(1);
  }, 5000);
 });
</script>
</head>

<!--< % provide(:title, @user.firstName) %>-->
<!--<div class="row">-->
<!--  <aside class="col-md-4">-->
<!--    <section class="user_info">-->
<!--      <h1>-->
<!--        < %= @user.firstName %>-->
<!--      </h1>-->
<!--    </section>-->
<!--  </aside>-->
<!--  <div class="col-md-8">-->
<!--    < % if @user.resumelists.any? %>-->
<!--      <h3>Resumelists (< %= @user.resumelists.count %>)</h3>-->
<!--      <ol class="resumelists">-->
<!--        < %= render @resumelists %>-->
<!--      </ol>-->
<!--      < %= will_paginate @resumelists %>-->
<!--    < % end %>-->
<!--  </div>-->
<!--</div>-->

<body>
<%= render 'layouts/sidebar' %>
    <div class="wrapper">
    <div class="main-panel">
      <%= render 'layouts/navbar' %>
    <div class="content">
    <div class="container-fluid">
      <%= render 'follow_form' if logged_in? %>
      <br>
      <% if (@user.links.any? || @user.feed.any?)%>
      <% @user.feed.reverse.each do |feed|%>
      <div class="row"><!-- ROW 1-->
        <div class="col-md-12"><!-- entry of links-->
          <div class="card ">
            <div class="content">
              <aside>
                <%= link_to gravatar_for(feed.user, size: 50), feed.user %>
                <strong class="h5"><strong><%= feed.course %> <br><%= feed.title %> </strong></strong>
              </aside>
              <hr>
              <span class="body"><%= feed.body %> </span>
              <hr>
              <div class="stats">
              <tbody>
              <tr>
              <td class="td-actions text-left">
              <%= link_to like_link_path(feed), method: :put, class: "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-chevron-up"></span>
              Like
              <%= feed.get_upvotes.size %>
              <% end %>
              <%= link_to dislike_link_path(feed), method: :put, class: "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-chevron-down">
                Dislike
                <%= feed.get_downvotes.size %>
              <% end %>
              <button-comments class="btn-default btn btn-sm comments">Comments (<%= feed.comments.count %>)</button-comments>
              <p-reply class='hidden'>
              <%= simple_form_for [ feed, Comment.new]  do |f| %>
                                                        <div class="field">
                                                        <br>
                                                          <%= f.text_area :body, class: "form-control" %>
                                                        </div>
                                                        <br>
                                                        <%= f.submit "Add Comment", class: "btn btn-primary" %>
                                                        <br>
                                                        <br>
                                                      <% end %>
                                                  </p-reply>
                                              </tr>
                                        </tbody>
                                          <i class="fa fa-history"></i> <%= time_ago_in_words(feed.created_at) %>
                                      </div>

                              </div>
                          </div>
                      </div> <!-- entry  of links-->
                  </div> <!-- row 1 -->

                  <% end %>

                  <% end %>

                    <div class="row"> <!-- row 2 -->
                          <div class="col-md-6">
                              <div class="card">
                                  <div class="header">
                                      <h4 class="title">Weather</h4>
                                  </div>
                                  <div class="content">
                                    <a href="http://www.accuweather.com/en/us/new-york-ny/10007/weather-forecast/349727" class="aw-widget-legal">


    <!--
    By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at http://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at http://www.accuweather.com/en/privacy.
    -->
    </a><div id="awcc1447204548226" class="aw-widget-current"  data-locationkey="" data-unit="c" data-language="en-us" data-useip="true" data-uid="awcc1447204548226"></div><script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>
                                  </div>
                              </div>
                          </div>


                      <!-- PUT THE CODE FOR THE CALENDER HERE
                      <div class="col-md-6">
                          <div class="card">
                              <div class="header">
                                  <h4 class="title">Calendar</h4>
                              </div>
                              <div class="content">

                              </div>
                          </div>
                      </div>-->
                  </div>   <!-- row 2-->



</div>
</div>
</div>
</div>


</body>

    <!--   Core JS Files   -->
    <script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
  <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>

  <!--  Checkbox, Radio & Switch Plugins -->
  <script src="assets/js/bootstrap-checkbox-radio-switch.js"></script>

  <!--  Charts Plugin -->
  <script src="assets/js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="assets/js/bootstrap-notify.js"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
  <script src="assets/js/light-bootstrap-dashboard.js"></script>

  <!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
  <script src="assets/js/demo.js"></script>

  <script type="text/javascript">
      $(document).ready(function(){

          demo.initChartist();

          $.notify({
              icon: 'pe-7s-gift',
              message: "Welcome to <b>Light Bootstrap Dashboard</b> - a beautiful freebie for every web developer."

            },{
                type: 'info',
                timer: 4000
            });

      });
  </script>
