<% provide(:title, @user.firstName) %>
<!--<style>
  body {
    background-image:url(<%=asset_path "GRocket-Icon-grey-01.png"%>);
    background-size: 50px 50px;
    background-repeat: xy;
  }
</style>
-->
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("button-comments").click(function(){
        $("p-reply").toggleClass('hidden');
    });
});
</script>
<script>
  $find.("p-reply").hide();
</script>
</head>

<!--< % provide(:title, @user.firstName) %>-->
<!--<div class="row">-->
<!--  <aside class="col-md-4">-->
<!--    <section class="user_info">-->
<!--      <h1>-->
<!--        < %= @user.firstName %>-->
<!--      </h1>-->
<!--    </section>-->
<!--  </aside>-->
<!--  <div class="col-md-8">-->
<!--    < % if @user.resumelists.any? %>-->
<!--      <h3>Resumelists (< %= @user.resumelists.count %>)</h3>-->
<!--      <ol class="resumelists">-->
<!--        < %= render @resumelists %>-->
<!--      </ol>-->
<!--      < %= will_paginate @resumelists %>-->
<!--    < % end %>-->
<!--  </div>-->
<!--</div>-->


  
<%= render 'layouts/sidebar' %>
    <div class="wrapper">
      
    <div class="main-panel">
      <%= render 'layouts/navbar' %>
    <div class="content">
    <div class="container-fluid">
      <% if @user.links.any? %>
      <% @user.links.each do |link| %>
      <div class="row"><!-- ROW 1-->
        <div class="col-md-12"><!-- entry of links-->
           <div class="card ">
            <div class="content">
              <aside>
                <%= link_to gravatar_for(link.user, size: 50), link.user %>
                <strong class="h5"><strong><%= link.course %> <br><%= link.title %> </strong></strong>
              </aside>
              <hr>
                <span class="body"><%= link.body %> </span>
              <hr>
              <div class="stats">
                <tbody>
                  <tr>
                  <td class="td-actions text-left">
                    <%= link_to like_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
                  <span class="glyphicon glyphicon-chevron-up"></span>
                     Like
                    <%= link.get_upvotes.size %>
                    <% end %>
                    <%= link_to dislike_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
                  <span class="glyphicon glyphicon-chevron-down">
                     Dislike
                    <%= link.get_downvotes.size %>
                    <% end %>
                    <button-comments class="btn-default btn btn-sm comments">Comments (<%= link.comments.count %>)</button-comments>
                    <p-reply class='hidden'>
                    <%= simple_form_for [ link, Comment.new]  do |f| %>
                    <div class="field">
                      <br>
                      <%= f.text_area :body, class: "form-control" %>
                    </div>
                    <br>
                    <%= f.submit "Add Comment", class: "btn btn-primary" %>
                    <br>
                    <br>
                    <% end %>
                    </p-reply>
                    </tr>
                    </tbody>
                    <i class="fa fa-history"></i> <%= time_ago_in_words(link.created_at) %>
              </div>

            </div> <!-- content -->
          </div> <!-- card -->
        </div> <!-- col-md-12 -->
      </div> <!-- ROW 1-->
    <% end %>
    <% end %>

      <div class="row"> <!-- ROW 2-->
        <div class="col-md-6">
          <div class="card">
            <div class="header">
              <h4 class="title">Weather</h4>
            </div> <!-- header -->
            <div class="content">
              <a href="http://www.accuweather.com/en/us/new-york-ny/10007/weather-forecast/349727" class="aw-widget-legal">
              </a><div id="awcc1447204548226" class="aw-widget-current"  data-locationkey="" data-unit="c" data-language="en-us" data-useip="true" data-uid="awcc1447204548226"></div><script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script></div>
            </div> <!-- content -- >
          </div> <!-- card -->

                  <!-- PUT THE CODE FOR THE CALENDER HERE-->
        <div class="col-md-6">
          <div class="card">
              <div class="header">
                  <h4 class="title">Calendar</h4>
              </div> <!-- header -->
              <div class="content">
                <%= stylesheet_link_tag "application-print", :media => "print" %>
<!--<div><script charset="UTF-8" src="http://widget24.com/code/calendar?data%5BWidget%5D%5Bcss%5D=white" type="text/javascript"></script></div>-->
              </div> <!-- content -->
          </div> <!-- card -->
        </div> <!-- col-md-6 -->
      </div>   <!-- ROW 2-->

    </div> <!-- container-fluid -->
    </div> <!-- content -->
    </div> <!-- main-panel-->
    </div> <!-- wrapper -->


    <!--   Core JS Files   -->
    <script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
  <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>

  <!--  Checkbox, Radio & Switch Plugins -->
  <script src="assets/js/bootstrap-checkbox-radio-switch.js"></script>

  <!--  Charts Plugin -->
  <script src="assets/js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="assets/js/bootstrap-notify.js"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
  <script src="assets/js/light-bootstrap-dashboard.js"></script>

  <!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
  <script src="assets/js/demo.js"></script>

  <script type="text/javascript">
      $(document).ready(function(){

          demo.initChartist();

          $.notify({
              icon: 'pe-7s-gift',
              message: "Welcome to <b>Light Bootstrap Dashboard</b> - a beautiful freebie for every web developer."

            },{
                type: 'info',
                timer: 4000
            });

      });
  </script>
