<p id="notice"><%= notice %></p>

<h1> Welcome <%= @user.FirstName%> <%=@user.LastName %> </h1>

<p>
  <strong>Email:</strong>
  <%= @user.Email %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @user.FirstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.LastName %>
</p>

<%= link_to 'Change User Information', edit_user_path(@user) %> |

