<style>
body {
    background-image:url(<%=asset_path "rocket-5-01.png"%>);
    background-size: 50px 50px;
    background-repeat: xy;
}
</style>
<div class="center jumbotron">
  <p id="notice"><%= notice %></p>

  <h1> Welcome <%= @user.firstName%> <%=@user.lastName %> </h1>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Firstname:</strong>
    <%= @user.firstName %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= @user.lastName %>
  </p>

  <%= link_to 'Change User Information', edit_user_path(@user) %> |
</div>
