<ul>
    <aside>
    <section class="user_info">
	  <%= link_to gravatar_for(post.user, size: 50), post.user %>
	    <span class="title"><strong><%= post.title %> </strong></span>
	    <span class="url"><%= post.url %></span>
	    <span class="user">Posted by <%= link_to post.user.firstName %>, <%= time_ago_in_words(post.created_at) %> ago. </span>
    </section>

</ul>
