<div class="bigbox">
		<div class="box">
			<br></br>
			<div class="info">
				<%= flash[:info]%>
			</div>
			<div class="error">
				<%= flash[:error]%>
			</div>
			<% @posts.each do |post| %>
					<ul>
						<div class="pull-left">
							<%= link_to like_post_path(post), method: :put, class: 'up' do %>
							<p><i class="fa fa-chevron-up"></i></p>
							<% end %>
							<%= post.get_upvotes.size %>
							<%= link_to dislike_post_path(post), method: :put, class: 'down' do %>
							<p><i class="fa fa-chevron-down"></i></p>
							<% end %>
						</div>

						<div class="post-box">
						  <h3><%= post.title %></h3>
							<p><%= post.body %></p>
						  <p><%= auto_link(post.url) %></p>
						  <p>by <%= post.user.firstName %> <%= time_ago_in_words(post.created_at) %> ago</p>
						</div>
					  </ul>

			<% end %>
		<br></br>
		</div>
	</div>
