<% provide(:title, "Forum") %>
<%= render 'layouts/sidebar' %>
    <div class="wrapper">
    <div class="main-panel">
      <%= render 'layouts/navbar' %>
<div class="box">
  <div class="cen">
    <br>
    <h1>Editing Post</h1>
    <%= render 'form' %>
    <%= link_to 'Show', @link %> |
    <%= link_to 'Back', links_path %>
  </div>
</div>
