<div class="box">
      <br>
  <div class="info">
    <%= flash[:info]%>
  </div>
  <div class="error">
    <%= flash[:error]%>
  </div>
  <div class="posts">
    <div class="page-header">
        <%= link_to gravatar_for(@link.user, size: 50), @link.user %>
      <h1><%= @link.title %><br> <p>Submitted by <%= @link.user.firstName %></p></h1>
      <div class="inner-box">
        <br>
        <div class="posts">
        <p><%= @link.body %></p>
        </div>
        <br>
      </div>
    </div>


    <div class="btn-group pull-left">
      <button type="button" class="btn btn-default btn-sm"><%= @link.course%></button>
      <%= link_to like_link_path(@link), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-up"></span>
        Like
        <%= @link.get_upvotes.size %>
      <% end %>
      <%= link_to dislike_link_path(@link), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-down">
        Dislike
        <%= @link.get_downvotes.size %>
      <% end %>
    </div>

    <% if @link.user == current_user -%>
    	<div class="btn-group pull-right">
    		<%= link_to 'Edit', edit_link_path(@link), class: "btn btn-default" %>
    		<%= link_to 'Delete', @link, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
    	</div>
    <% end %>
    <br>
    <h3 class="comments_title">
      <%= @link.comments.count %> Comments
    </h3>

    <div id="comments">
      <%= render :partial => @link.comments %>
    </div>
    <%= simple_form_for [@link, Comment.new]  do |f| %>
      <div class="field">
        <%= f.text_area :body, class: "form-control" %>
      </div>
      <br>
      <%= f.submit "Add Comment", class: "btn btn-primary" %>
      <br>
      <br>
    <% end %>
    </div>
</div>
